:root {
    --primary: #008e62;
    --hfont: 'Dala Prisma';
    --darkg: #226F56;
    --bfont: 'Raleway';
}

.sustainableBox {
    position: relative;
    display: block;
    background-color: #9CC6B5;
    text-decoration: none;
    padding: 65px 32px 18px;
}

.sustainableBox:hover {
    text-decoration: none !important;
}

.sustainableBox * {
    text-decoration: none;
}

.sustainableBox .card-link b,
.sustainableBox .card-link strong,
.sustainableBox .card-link * {
    font-weight: 600;
}

.sustainableBox .card-link strong span {
    display: inline-block;
    line-height: 1.2;
    border-bottom: 1px solid black;
}

.sustainableBox:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-image: url(./images-vianaar/terrazzo-backgroun-hover.webp);
    transition: 0.5s ease all;
    background-size: 100% auto;
    background-repeat: repeat-x;
}

.sustainableBox:hover:before {
    height: 100%;
}

.sustainHeads h2 {
    font-size: 75px;
    font-family: var(--hfont);
    color: var(--darkg);
    text-align: center;
}

.sustainHeads h2 span {
    font-size: 48px;
    font-weight: 300;
    font-family: var(--bfont);
    color: var(--darkg);
}

.sustainHeads p {
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    font-size: 19px;
    color: var(--darkg);
}

.inner-page .section-wrap {
    margin-top: 0px !important;
}

.hover-image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
    /* ensures it doesn’t interfere with hover */
    z-index: 0;
    background-position: 0 -50px;
    background-repeat: repeat;
}

.hover-image-container .hover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.moreLink i {
    font-size: 26px;
    display: inline-block;
    transform: translateX(-15px);
    transition: transform 0.3s;
    color: #000000;
    margin-top: 3px;
}

.moreLink:hover i {
    transform: translateX(0);
}

.sustainableBox:hover i {
    transform: translateX(0);
}

.moreLink {
    padding-top: 38px;
    font-weight: 600;
    font-size: 19px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: #000;
    text-decoration: none !important;
    max-width: 260px;
}

.moreLink strong {
    font-weight: 600 !important;
    padding-bottom: 5px;
}

.moreLink span {
    display: inline-block;
    border-bottom: 1px solid #000;
    line-height: 1.2;
}

.girl-hair-container {
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 0;
    pointer-events: none;
}

.girl-hair-container svg {
    /* width: 100%; */
    min-width: 141px;
}

.plain-text {
    padding-top: 47px;
}

.plain-text p {
    font-family: 'Raleway';
    font-weight: 400 !important;
    font-size: 19px;
    line-height: 1.4;
    color: #121212 !important;
}

.card-footer.know-more-link {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    /* display: flex;
  align-items: center; */
    /* gap: 70px; */
}

.know-more-link div {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 19px;
    color: #121212;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.know-more-link span i {
    color: #121212 !important;
}

.ct-text {
    font-size: 19px;
    padding-right: 45px;
}

.testmslider blockquote {
    font-size: 19px;
}

.testmslider cite {
    font-size: 20px;
}

.bottom-text {
    display: flex;
    justify-content: flex-end;
}

.bottom-text span {
    font-family: 'Raleway';
    font-weight: 400 !important;
    font-size: 18px !important;
    color: #226F56;
    z-index: 9;
}

.card.index-card {
    border-radius: 0 !important;
    background-color: transparent !important;
    margin-top: 0 !important;
    height: auto !important;
    overflow: visible !important;
    position: static !important;
}

.custom-bullets {
    list-style: none !important;
    padding-left: 0 !important;
    margin: 0 !important;
}

.custom-bullets li {
    position: relative !important;
    padding-left: 15px !important;
    /* controls space between bullet and text */
    margin-bottom: 0.5rem !important;
}

.custom-bullets li::before {
    /* content: "•" !important; */
    position: absolute !important;
    left: 0 !important;
    top: 15px !important;
    font-size: 1.2rem !important;
    color: #226F56 !important;
    /* use your brand color */
    line-height: 1.5 !important;
}

.row .home-grid p {
    font-family: 'Dala Prisma';
    font-weight: 700;
    font-size: 75px;
    /* line-height: 100%; */
    letter-spacing: 2%;
    text-align: center;
    margin-bottom: 0px;
    color: #226F56;
    margin: -5px;
}

.row .home-grid span {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 48px;
    /* line-height: 100%; */
    letter-spacing: 2%;
    text-align: center;
    color: #226F56;
}

.row .home-grid .smallText {
    font-family: 'Raleway';
    font-weight: 400;
    text-align: center;
    color: #226F56;
    font-size: 21px;
    line-height: 1.4;
}

@media (max-width: 575px) {
    .bottom-text {
        justify-content: flex-start;
    }
    .plain-text {
        padding-left: 0px;
        padding-right: 0px;
        color: #121212;
        font-style: italic !important;
    }
    .card-footer.know-more-link {
        padding-left: 0px;
        padding-right: 0px;
        font-weight: 600;
    }
    .card-footer.know-more-link strong,
    .card-footer.know-more-link b {
        font-weight: 600;
    }
    .girl-hair-section {
        margin-top: 20px;
    }
    .girl-hair-section svg {
        width: 100px;
        min-width: 111px;
        transform: translateX(89%);
    }
    .bottom-text {
        margin-top: -68px
    }
}

@media (max-width:1200px) {
    .sustainHeads h2 {
        font-size: 65px;
    }
    .sustainHeads h2 span {
        font-size: 40px;
    }
}

@media (max-width:575px) {
    .moreLink {
        max-width: 100%;
    }
    .sustainableBox {
        padding: 35px 16px 20px;
    }
    .girl-hair-container {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 100%;
        text-align: center;
        margin-top: 35px;
    }
    .girl-hair-container svg {
        min-width: auto;
        max-width: 120px;
    }
    .sustainHeads h2 {
        font-size: 50px;
    }
    .sustainHeads h2 span {
        font-size: 32px;
    }
    .sustainHeads p {
        font-size: 18px;
        margin-top: 12px;
        margin-bottom: 20px;
    }
    .plain-text {
        padding-top: 30px;
    }
    .plain-text p {
        font-size: 18px;
    }
    .moreLink {
        font-size: 16px;
        padding-top: 18px;
    }
    .bottom-text span {
        font-size: 16px !important;
    }
    .ct-text {
        font-size: 18px;
        padding-right: 0px;
    }
    .custom-bullets li {
        margin-bottom: 0px !important;
    }
}

/* Customs */
.hero-Section {
  width: 100%;
  height: 100vh; /* Full screen height */
  overflow: hidden;
}

.hero-Section img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crops image nicely */
}
